
/* 1 */
.myid p {
  color: green;
}
/* 2 */
#main-Topic {
  color: orangered;
}
/* 3 */
* {
  text-align: center;
}
/* 4 */
*{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal; 
}
/* 5 */
div p{
    color: white;
    background-color: cornflowerblue;
}
/* 6 */
button{
    background-color: yellowgreen;
    color: blueviolet;
}
/* 7 */
button:hover{
    background-color: yellow;
    color: blue;
}
/* 8 */
h2::first-letter{
    color: red;
}

