/* chatgpt */
.circle-image {
    width: 150px;       /* Set the width of the circle */
    height: 150px;      /* Set the height of the circle */
    border-radius: 50%; /* This makes the image round */
    object-fit: cover;  /* Ensure the image covers the entire circle area */
  }
  
.portpolio-web{
    text-align: center;
}
#b-1{
    background-color: black;
    color: white;
    
}
#b-2>a{
    text-decoration: none;
    color: black;
    background-color: white;
   
}