.box-1{
    /* 7 */
    background-color: purple; 
    width: 200px; 
     /*->*/ /*1*/
    height: 400px;
      /*down side*/  /*2*/
    border-width: 5px; 
    /*-3*/
    border-style: solid; 
    /*4*/
    /* border-style: dashed;  */
    border-color: greenyellow;
     /*6*/
}
/* div takes it full width */
div{
     /* 7 */
     background-color: purple; 
     /* width: 200px;  -> 1 */
     height: 400px;  /*down side*/  /*2*/
     border-width: 5px; /*-3*/
     border-style: solid; /*4*/
     /* border-style: dashed; 5 */
     border-color: greenyellow; /*6*/
}
.box-1{
    /* 7-6 border code in 1line */
    border-left: 5px solid red; 
    border-right: 5px solid red;
    border-top: 5px solid red;
    border-bottom: 5px solid red; 
}
/* https://youtu.be/IRQGXNXyVAY?t=2416 */