*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  main{
    border: 1px solid rgba(0, 0, 0, 0.438);
  }
  /* chatgpt */
  .circle-image {
    width: 30%; /* Set the width of the circle */
    height: auto;
    border-radius: 25px;
  }
  /*website banner  */
  
  /* navigation */
  nav {
    font-family: "Times New Roman";
    background-color: black;
    color: white;
    display: flex;
  }
  li {
    list-style: none;
    text-decoration: none;
    /* display: inline; */
    margin-left: 2rem;
    padding: 10px;
  }
  li:hover {
    background-color: #8e2de2;
  }
  
  
  /* main content */
  /* main content */
  .portpolio-web {
    margin-top: 1rem;
    display: flex;            /* Flexbox layout use kiya */
    justify-content: space-between; /* Space between image and info */
    align-items: center;      /*Vertical alignment center*/
  }
  
  .circle-image {
    width: 15%; 
    height: auto;
    margin: 10px;
    border-radius: 25px;
    order: 2;                 /* Image ko right me align karne ke liye */
  }
  .circle-images{
    width: 20%; 
    height: auto;
    margin: 10px;
    border-radius: 25px;
    order: 2;  
    margin-bottom: 50px;   
  }
  .info {
    width: 65%;               /* Info section ki width set ki */
    order: 1;                 /* Info ko left me align karne ke liye */
    border: 1px solid turquoise;
    margin: 20px ;
    margin-top:50px ;
  }
  .info h1{
    font-size: 50px;
  }
  .info p{
    font-size: 30px;
  }
  #b-1 {
    margin-bottom: 100px;
    background-color: black;
    color: white;
  }
  
  #b-2 > a {
    text-decoration: none;
    color: black;
    background-color: white;
  } 
  